body { background: #282c2f !important; }
#root { background: #282c2f;}

/* General Variable */
:root {
    --odometer-duration: 500ms;
    --footer-height: 40px;
    --panel-height: 256px;
    --base-hue: 200;
    --base-hue-deg: 200deg;
    --hsl-white-1: 0,0%,100%;
    --hsl-white-2: 0,0%,80%;
    --hsl-white-3: 0,0%,70%;
    --hsl-white-4: 0,0%,60%;
    --hsl-white-5: 0,0%,50%;
    --hsl-white-6: 0,0%,40%;
    --hsl-p: var(--base-hue),100%,50%;
    --hsl-h1: var(--base-hue),100%,70%;
    --hsl-h2: var(--base-hue),50%,45%;
    --hsl-c1: var(--base-hue),40%,100%;
    --hsl-c2: var(--base-hue),40%,90%;
    --hsl-l1: var(--base-hue),40%,80%;
    --hsl-l2: var(--base-hue),40%,75%;
    --hsl-l3: var(--base-hue),40%,70%;
    --hsl-l4: var(--base-hue),40%,50%;
    --hsl-d1: var(--base-hue),20%,35%;
    --hsl-d2: var(--base-hue),20%,30%;
    --hsl-d3: var(--base-hue),20%,25%;
    --hsl-d4: var(--base-hue),20%,20%;
    --hsl-d5: var(--base-hue),20%,15%;
    --hsl-d6: var(--base-hue),20%,10%;
    --hsl-f1: var(--base-hue),10%,60%;
    --hsl-b1: var(--base-hue),10%,40%;
    --hsl-b2: var(--base-hue),10%,30%;
    --hsl-b3: var(--base-hue),10%,25%;
    --hsl-b4: var(--base-hue),10%,20%;
    --hsl-b5: var(--base-hue),10%,15%;
    --hsl-b6: var(--base-hue),10%,10%;
    --c-saturation-1: 100%;
    --c-saturation-2: 80%;
    --c-saturation-3: 60%;
    --c-lightness-1: 70%;
    --c-lightness-2: 60%;
    --c-lightness-3: 50%;
    --c-lightness-4: 40%;
    --c-lightness-5: 30%;
    --c-lightness-6: 20%;
    --c-lightness-7: 10%;
    --colour-pink-hue: 333;
    --hsl-pink-1: var(--colour-pink-hue),var(--c-saturation-1),var(--c-lightness-1);
    --hsl-pink-2: var(--colour-pink-hue),var(--c-saturation-2),var(--c-lightness-2);
    --hsl-pink-3: var(--colour-pink-hue),var(--c-saturation-3),var(--c-lightness-3);
    --colour-purple-hue: 255;
    --hsl-purple-1: var(--colour-purple-hue),var(--c-saturation-1),var(--c-lightness-1);
    --hsl-purple-2: var(--colour-purple-hue),var(--c-saturation-2),var(--c-lightness-2);
    --hsl-purple-3: var(--colour-purple-hue),var(--c-saturation-3),var(--c-lightness-3);
    --hsl-purple-4: var(--colour-purple-hue),var(--c-saturation-3),var(--c-lightness-4);
    --hsl-purple-5: var(--colour-purple-hue),var(--c-saturation-3),var(--c-lightness-5);
    --hsl-purple-6: var(--colour-purple-hue),var(--c-saturation-3),var(--c-lightness-6);
    --hsl-purple-7: var(--colour-purple-hue),var(--c-saturation-3),var(--c-lightness-7);
    --colour-blue-hue: 200;
    --hsl-blue-1: var(--colour-blue-hue),var(--c-saturation-1),var(--c-lightness-1);
    --hsl-blue-2: var(--colour-blue-hue),var(--c-saturation-2),var(--c-lightness-2);
    --hsl-blue-3: var(--colour-blue-hue),var(--c-saturation-3),var(--c-lightness-3);
    --hsl-blue-4: var(--colour-blue-hue),var(--c-saturation-3),var(--c-lightness-4);
    --hsl-blue-5: var(--colour-blue-hue),var(--c-saturation-3),var(--c-lightness-5);
    --hsl-blue-6: var(--colour-blue-hue),var(--c-saturation-3),var(--c-lightness-6);
    --hsl-blue-7: var(--colour-blue-hue),var(--c-saturation-3),var(--c-lightness-7);
    --colour-green-hue: 125;
    --hsl-green-1: var(--colour-green-hue),var(--c-saturation-1),var(--c-lightness-1);
    --hsl-green-2: var(--colour-green-hue),var(--c-saturation-2),var(--c-lightness-2);
    --hsl-green-3: var(--colour-green-hue),var(--c-saturation-3),var(--c-lightness-3);
    --hsl-green-4: var(--colour-green-hue),var(--c-saturation-3),var(--c-lightness-4);
    --hsl-green-5: var(--colour-green-hue),var(--c-saturation-3),var(--c-lightness-5);
    --hsl-green-6: var(--colour-green-hue),var(--c-saturation-3),var(--c-lightness-6);
    --hsl-green-7: var(--colour-green-hue),var(--c-saturation-3),var(--c-lightness-7);
    --colour-lime-hue: 90;
    --hsl-lime-1: var(--colour-lime-hue),var(--c-saturation-1),var(--c-lightness-1);
    --hsl-lime-2: var(--colour-lime-hue),var(--c-saturation-2),var(--c-lightness-2);
    --hsl-lime-3: var(--colour-lime-hue),var(--c-saturation-3),var(--c-lightness-3);
    --hsl-lime-4: var(--colour-lime-hue),var(--c-saturation-3),var(--c-lightness-4);
    --hsl-lime-5: var(--colour-lime-hue),var(--c-saturation-3),var(--c-lightness-5);
    --hsl-lime-6: var(--colour-lime-hue),var(--c-saturation-3),var(--c-lightness-6);
    --hsl-lime-7: var(--colour-lime-hue),var(--c-saturation-3),var(--c-lightness-7);
    --colour-orange-hue: 45;
    --hsl-orange-1: var(--colour-orange-hue),var(--c-saturation-1),var(--c-lightness-1);
    --hsl-orange-2: var(--colour-orange-hue),var(--c-saturation-2),var(--c-lightness-2);
    --hsl-orange-3: var(--colour-orange-hue),var(--c-saturation-3),var(--c-lightness-3);
    --colour-red-hue: 360;
    --hsl-red-1: var(--colour-red-hue),var(--c-saturation-1),var(--c-lightness-1);
    --hsl-red-2: var(--colour-red-hue),var(--c-saturation-2),var(--c-lightness-2);
    --hsl-red-3: var(--colour-red-hue),var(--c-saturation-3),var(--c-lightness-3);
    --colour-darkorange-hue: 20;
    --hsl-darkorange-1: var(--colour-darkorange-hue),var(--c-saturation-1),var(--c-lightness-1);
    --hsl-darkorange-2: var(--colour-darkorange-hue),var(--c-saturation-2),var(--c-lightness-2);
    --hsl-darkorange-3: var(--colour-darkorange-hue),var(--c-saturation-3),var(--c-lightness-3);
    --diff-easy: #4ebfff;
    --diff-normal: #66ff91;
    --diff-hard: #f7e85d;
    --diff-insane: #ff7e68;
    --diff-expert: #fe3c71;
    --diff-expert-plus: #6662dd;
    --status-color-default: var(--hsl-b3);
    --status-ranked-bg: hsl(var(--hsl-lime-1));
    --status-ranked-color: hsl(var(--status-color-default));
    --status-loved-bg: hsl(var(--hsl-pink-1));
    --status-loved-color: hsl(var(--status-color-default));
    --status-qualified-bg: hsl(var(--hsl-blue-1));
    --status-qualified-color: hsl(var(--status-color-default));
    --status-approved-bg: hsl(var(--hsl-lime-1));
    --status-approved-color: hsl(var(--status-color-default));
    --status-pending-bg: hsl(var(--hsl-orange-1));
    --status-pending-color: hsl(var(--status-color-default));
    --status-graveyard-bg: #000;
    --status-graveyard-color: hsl(var(--hsl-b1));
    --status-wip-bg: hsl(var(--hsl-darkorange-1));
    --status-wip-color: hsl(var(--status-color-default));
    --nsfw-bg: hsl(var(--hsl-d1));
    --nsfw-color: hsl(var(--hsl-orange-2));
}

/* Ranked status color */
.RANKED { background-color: var(--status-ranked-bg); color: var(--status-ranked-color); }
.LOVED { background-color: var(--status-loved-bg); color: var(--status-loved-color); }
.QUALIFIED { background-color: var(--status-qualified-bg); color: var(--status-qualified-color); }
.PENDING { background-color: var(--status-pending-bg); color: var(--status-pending-color); }
.GRAVEYARD { background-color: var(--status-graveyard-bg); color: var(--status-graveyard-color); }
.WIP { background-color: var(--status-wip-bg); color: var(--status-wip-color); }
.NSFW { background-color: #1c2123; color: #deb945; }
.VIDEO { background-color: hsl(var(--hsl-purple-1)); }
.STORYBOARD { background-color: hsl(var(--hsl-red-1)); }

/* osu icon */
.faa { font-family: osuFonts; font-style: normal; font-weight: 550; }
.fa-extra-mode-osu:before { content: "\E800"; }
.fa-extra-mode-taiko:before { content: "\E803"; }
.fa-extra-mode-furits:before { content: "\E801"; }
.fa-extra-mode-mania:before { content: "\E802"; }

/* Version Rating */
span.beatmap-version-rating { height: 18px; color: var(--text-color); font-weight: bold; font-size: 0.9em; background-color: var(--bg-color); padding: 0.1em 0.5em; border-radius: 12px 12px; }

/* Tooltip */
.ant-tooltip-content .ant-tooltip-inner { border-radius: 8px; background-color: rgb(0 0 0 / 90%); text-align: center; }
.version-tooltip { max-width: 400px !important; }
.version-tooltip .ant-tooltip-content .ant-tooltip-inner { padding: 18px 20px !important; }
.ant-progress-circle .ant-progress-text { color: rgba(255,255,255,.85) !important; }
.ant-progress-circle-trail { stroke: hsl(var(--hsl-b4)) !important; }
.download-url-copied { animation: copy-anime 750ms; transition: transform 200ms cubic-bezier(0.85, 0.1, 0.22, 1.07); }

/* Alert */
/* .ant-message { height: 100vh !important; } */
.ant-message > div { height: 100vh !important; }
.ant-message > div > .ant-message-notice { position: absolute; bottom: 10px; left: 10px; }
.ant-message-notice-content { background-color: hsl(var(--hsl-b3)) !important; }
.ant-message-notice-content > div > span:nth-of-type(2) { color: white !important; }
.anticon-loading > span { color: hsl(var(--hsl-blue-1)); }
.anticon-check-circle > span { color: hsl(var(--hsl-green-1)) !important; }

/* Notification */
.ant-notification-notice { background-color: hsl(var(--hsl-b3)) !important; }
.ant-notification-notice-message, .ant-notification-notice-description { color: white !important; }
.ant-notification-notice-close-x { color: white !important; }
.ant-notification-notice-description { white-space: break-spaces; }

/* Button */
.ant-btn { border: none !important; }

/* DropDown */
.ant-dropdown-menu { background-color: hsl(var(--hsl-b5)) !important; border-radius: 12px; }
.ant-dropdown-menu-item-active { background-color: hsl(var(--hsl-b5)) !important; }
.ant-dropdown-menu-title-content { color: white !important; }
.ant-dropdown-menu-title-content > span > button { margin-right: 0.25em; }

/* Switch */
.ant-switch { background-color: hsl(var(--hsl-b2)) !important }
.ant-switch-checked { background-color: hsl(var(--hsl-l3)) !important; }
.ant-click-animating-node, [ant-click-animating-without-extra-node=true]:after { box-shadow: 0 0 0 0 hsl(var(--hsl-l3)) !important; }

/* Searchbar */
.ant-input-affix-wrapper { border-radius: 12px 0 0 12px !important; background-color: hsl(var(--hsl-b2)) !important; border: none !important; }
.ant-input { color: white !important; background-color: transparent !important; }
.ant-input-lg, .ant-btn-lg { font-size: 14px !important; }
.ant-btn-primary { background-color: hsl(var(--hsl-l4)) !important; }
.anticon.ant-input-clear-icon { color: rgba(255,255,255,.5) !important; }
.ant-input-group-addon { border-radius: 0 12px 12px 0 !important; border: none !important; background-color: transparent !important; }
.ant-input-search-button { border: none !important; border-radius: 0 12px 12px 0 !important; height: 38px !important; }

/* Medal */
.ant-modal-content { background-color: hsl(var(--hsl-b2)) !important; border-radius: 12px !important; }
.ant-modal-confirm-body .ant-modal-confirm-title, .ant-modal-confirm-body .ant-modal-confirm-content { color: rgb(255 255 255 / 85%) !important; }

/* Resposive Web Css */
nav > div { width: 75vw; }
div.container { margin: 0 auto; max-width: 70vw; padding: 0 0 var(--footer-height) 0; }
@media (max-width: 60000px) {
    /* nav div.expand { visibility: visible !important; } */
    /* nav div.collapsed { visibility: hidden !important; display: none !important; } */
    ul.beatmap-list > li { width: calc(100% / 3) !important; }
    .portal-info-left { margin-bottom: 0 !important; }
    .portal-info { flex-direction: row !important; }
}
@media (max-width: 1920px) {
    ul.beatmap-list > li { width: 50% !important; }
    .portal-info-left { margin-bottom: 0 !important; }
    .portal-info { flex-direction: row !important; }
}
@media (max-width: 1024px) {
    :root {
        --footer-height: 50px;
    }
    nav > div { width: 90vw !important; }
    footer { font-size: 10px !important; flex-direction: column-reverse !important; align-items: center !important; }
    footer > ul { margin-left: 0 !important; margin-bottom: 0 !important; }
    div.container { max-width: 85vw !important; }
    ul.searchbar-type-selector li { width: 300px !important; }
    ul.beatmap-list > li { width: 100% !important; }
    .portal-info-left { margin-bottom: 1em !important; }
    .portal-info { flex-direction: column !important; }
    .portal-info-right { margin-left: 1em !important; }
    div.more-info-two-side > ul.desc { flex-direction: column; }
}
@media (max-width: 860px) {
    ul.searchbar-type-selector li { width: 200px !important; }
    div.info-Single { width: 80vw !important; }
    div.more-info-two-side { flex-direction: column; align-items: center; }
    ul.portal-buttons { flex-direction: row;}
}
@media (max-width: 501px) {
    /* nav div.expand { visibility: hidden !important; display: none !important; } */
    /* nav div.collapsed { visibility: visible !important; display: block !important; } */
    ul.searchbar-type-selector li { width: 140px !important; }
}