@font-face { font-family: 'TmoneyRoundWindRegular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'osuFonts'; src: url('../fonts/extra.6f1f24ae.woff') format("woff"); }
@import url(reset.css);
@import url(global.css);
@import url(page.css);