@font-face { font-family: 'TmoneyRoundWindRegular'; src: url('../fonts/TmoneyRoundWindRegular.woff2') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'osuFonts'; src: url('../fonts/extra.6f1f24ae.woff2') format("woff"); }
@import url(reset.css);
@import url(all.min.css);
@import url(global.css);
@import url(page.css);